.box {
  position: relative;
  width: 120px;
  height: 45px;
  overflow: hidden;
  border: none;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top-left-radius: 40px;
  cursor: pointer;
  border-bottom-right-radius: 40px;
  box-shadow: 0 0 10px rgb(104, 134, 218);
}

.box::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 200px;
  margin-top: -92px;
  background: linear-gradient(#00ccff,#d400d4);
  animation: amm 2s linear infinite;
}

@keyframes amm {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-button {
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 1;
}

.box::after {
  content: "";
  position: absolute;
  inset: 2px;
  /* @apply bg-secondary; */
  background-color: #01eaf9;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}